<div id="user_access__div">
  <form [formGroup]="SignupForm" (ngSubmit)="registerUser()">
    <div class="form_container">
      <h1 class="text-center">Welcome to sign-up</h1>
      <div class="center_form">
        <div class="formDesign">
          <div class="form_group">
            <label for="id">User ID</label>
            <input type="text" class="form_control" formControlName="id">
          </div>
          <div class="form_group">
            <label for="email">Enter your mail Addess</label>
            <input type="email" class="form_control" formControlName="email">
          </div>
          <div class="form_group">
            <label for="password">Choose a password</label>
            <input type="password" class="form_control" formControlName="password">
          </div>
          <div class="form_group">
            <label for="userName">Pick a userName</label>
            <input type="text" class="form_control" formControlName="userName">
          </div>
          <div class="form_group">
            <label for="gender">Select a Gender</label>
            <div class="genderDesign">
              <div class="male">
                <input type="radio" formControlName="gender" id="male" name="gender" value="male">
                <label for="male">male</label>
              </div>
              <div class="female">
                <input type="radio" formControlName="gender" id="female" name="gender" value="female">
                <label for="female">Female</label> 
              </div>
            </div>
          </div>
          <div class="center_button_dev_smallScreen">
            <button type="submit" class="primary_btn">Submit-form</button>
         </div>
        </div>
      </div>
      <p class="hintText">Hint: click the button on the reight to submit the form</p>
    </div>
    <div class="side_bar_container">
      <div class="center_button_dev">
        <button type="submit" class="userAccess_btn">Submit-form</button>
      </div>
    </div>
  </form>
</div>
