<div id="login">
    <h1 class="text-center">You reached login</h1>
    <p class="text-center">This feature is under production</p>
    <div class="center_button_dev">
        <button class="dark_btn" routerLink="/signUp">sign-up</button>
    </div>

    <div class="form-container center_form" >
        <form  [formGroup]="loginForm" (ngSubmit)="loginUser()" class="formDesign">
            <div class="form-group">
                <label for="email">Registered Email Address</label>
                <input type="email" class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="password">Registered password</label>
                <input type="password" class="form-control" formControlName="password">
            </div>
            <div class="center_btn_div">
                <button type="submit" class="primary_btn">Submit</button>
            </div>
        </form>
    </div>
</div>
