.profile_pic {
    border-radius: 100px;
    width: 100px;
    height: 100px;
    text-align: center;
}

.profile_pic img {
    background-size: cover;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    box-shadow: black 6px 6px 6px;
}



.profile_pic p {
    text-transform: uppercase;
    color: white;
}

.hide_Input {
    display: none;
}

.cretw_cv_div {
    padding: 20px;
}

.input_group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 10px;
}

input {
    width: 200px;
}

.profile_picPreview img {
    background-size: cover;
    object-fit: cover;
    border-radius: 100px;
    width: 100px;
    height: 100px;
    box-shadow: black 6px 6px 6px;
}

.profile_picPreview {
    border-radius: 100px;
    width: 100px;
    height: 100px;
}

@media (min-dth: 200px), (max-width: 700px) {
    .centered_div {
        display: block;
    }

    .profile_pic {
        margin: 10px 0;
    }
}