<nav>
    <div class="centered_div">
        <div class="user_content">
            <div class="profile_picPreview">
                <h5 class="text-center">welcome</h5>
                <h4 class="text-center">{{logged_in_userName}}</h4>
            </div>
            <div class="profile_picPreview">
                <img [src]="logged_in_PIcture" alt="">
            </div>
        </div>
     
        <button type="button" class="userAccess_btn" (click)="backFunction()">Loggout</button>
    </div>
</nav>
